<section class="section2 imageslider background">
    <div class="container">
      <div class="row align-items-center">
            
        <div class="col-lg-6 mb-4 mb-lg-0">
          <div class="mt-4 titre">
            <h2>Votre blanchisserie Bubble Pressing</h2>   
          </div>
        </div>
        <div class="col-lg-6 mb-4 mb-lg-0 mt-4 d-flex justify-content-end">
            <p>Bubble Pressing est une entreprise familiale spécialisée dans le domaine de la blanchisserie professionnelle. Nous sommes installés sur la commune de Vénissieux depuis 2015 et nous sommes fiers de proposer des services de qualité aux professionnels de la région.</p>
          
        </div>

  
      </div>
    </div>
  </section>










<app-team></app-team>
