<section class="Notre-histoire">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-12 mb-5 mb-lg-0">
        <div class="mt-4 titre text-center">
          <img src="/images/logo1.webp" width="200px" alt="Logo de Bubble Pressing">
          <h2>Bubble Pressing</h2>
          <h5>Depuis 2010</h5>   
        </div>
      </div>
    </div>
  </div>
</section>

<section class="text-presentation">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 mb-4 mb-lg-0 mt-4">
        <p class="text-justify">
          Bubble Pressing est une entreprise familiale spécialisée dans le domaine de la blanchisserie professionnelle. Nous sommes installés sur la commune de Vénissieux depuis 2015 et nous sommes fiers de proposer des services de qualité aux professionnels de la région.
        </p>      
      </div>
    </div>
  </div>
</section>

<section class="Notre-philosophie">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 mb-4 text-end">
        <img src="/images/planet-earth.webp" alt="Philosophie écologique" class="img-fluid">
      </div>
      <div class="col-lg-6 mb-4 mt-4 para">
        <p>Nous adoptons une démarche écoresponsable en recyclant la majorité de nos fournitures et déchets. Nous récupérons les cintres pour réduire la consommation, et respectons les normes écologiques requises par l’ADEME.</p>
      </div>
      <div class="col-lg-6 mb-4 mt-4 para">
        <p>La fidélité de notre clientèle depuis 2010 est notre plus grande fierté et garantit la qualité de nos services.</p>
      </div>
      <div class="col-lg-6 mb-4 text-end">
        <img src="/images/service-garantit.webp" alt="Service de qualité" class="img-fluid">
        <h3>Qualité</h3>
      </div>
      <div class="col-lg-6 mb-4 text-end">
        <img src="/images/clock.webp" alt="Horaires disponibles" class="img-fluid">
      </div>
      <div class="col-lg-6 mb-4">
        <h3>Disponibilités</h3>
        <p>Nous sommes disponibles tous les jours, sauf le dimanche, de 9h00 à 19h00. Profitez de notre flexibilité pour vos besoins de blanchisserie.</p>
      </div>
    </div>
  </div>
</section>

<section class="team">
  <div class="container">
    <div class="row heading">
      <div class="col-md-12">
        <h2 class="text-center bottom-line">Rencontrez Nos Experts</h2>
      </div>
    </div>

    <div class="row team-row">
      <div class="col-md-4 col-sm-6 team-wrap">
        <div class="team-member text-center">
          <div class="team-img">
            <img src="http://deothemes.com/envato/enigma/html/img/team_1.jpg" alt="John Marshall">
            <div class="overlay">
              <div class="team-details text-center">
                <p>Manager</p>
              </div>
            </div>
          </div>
          <h6 class="team-title">John Marshall</h6>
          <span>Designer</span>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 team-wrap">
        <div class="team-member text-center">
          <div class="team-img">
            <img src="http://deothemes.com/envato/enigma/html/img/team_2.jpg" alt="Steve Roberts">
            <div class="overlay">
              <div class="team-details text-center">
                <p>Employé</p>
              </div>
            </div>
          </div>
          <h6 class="team-title">Steve Roberts</h6>
          <span>Photographe</span>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 team-wrap">
        <div class="team-member text-center">
          <div class="team-img">
            <img src="http://deothemes.com/envato/enigma/html/img/team_3.jpg" alt="Michael Cartney">
            <div class="overlay">
              <div class="team-details text-center">
                <p>Gérant du pressing</p>
              </div>
            </div>
          </div>
          <h6 class="team-title">Michael Cartney</h6>
          <span>Designer</span>
        </div>
      </div>
    </div>
  </div>
</section>
