/* Global Styles */
body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
    color: #333;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Section Spacing */
  .section {
    padding: 80px 0;
  }
  
  /* Title Styling */
  .titre h2 {
    font-size: 42px;
    font-weight: bold;
    color: #0097B2;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .titre h5 {
    font-size: 20px;
    color: #777;
    text-align: center;
  }
  
  /* Philosophy Section */
  .Notre-philosophie {
    background-color: #e0f7fa;
    padding: 80px 0;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  }
  
  .Notre-philosophie p {
    font-size: 18px;
    color: #555;
    line-height: 1.8;
  }
  
  .Notre-philosophie img {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .Notre-philosophie img:hover {
    transform: scale(1.05);
  }
  
  .lead {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.7;
  }
  
  /* Team Section */
  .team {
    background-color: #fff;
    padding: 80px 0;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  }
  
  .team-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .team-wrap {
    margin-bottom: 30px;
    transition: transform 0.3s ease;
  }
  
  .team-wrap:hover {
    transform: translateY(-10px);
  }
  
  .team-member {
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .team-member:hover {
    transform: translateY(-10px);
  }
  
  .team-img {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
  }
  
  .team-img img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
  }
  
  .team-img:hover img {
    transform: scale(1.1);
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 151, 178, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .team-member:hover .overlay {
    opacity: 1;
  }
  
  .team-details {
    color: #fff;
    font-size: 16px;
  }
  
  .team-title {
    font-size: 18px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 5px;
  }
  
  .team-member span {
    font-size: 14px;
    color: #777;
  }
  
  /* Footer */
  footer {
    background-color: #0097B2;
    color: white;
    padding: 20px 0;
    text-align: center;
  }
  
  footer p {
    margin: 0;
    font-size: 14px;
  }
  