<nav class="navbar navbar-expand-lg bg-body-tertiary justify-content-center">
  <div class="container">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

      <!-- Logo -->
      <a routerLink="/" class="navbar-brand">
        <img src="/images/logo1.png" alt="image d'une machine à laver avec des bulles" width="100px" height="100px" loading="lazy">
      </a>

      <!-- Nav links centered -->
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/">ACCUEIL</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="service">SERVICES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="apropos">A PROPOS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="contact">CONTACT</a>
        </li>
      </ul>

      <!-- Buttons and Cart -->
      <div class="d-flex align-items-center">
        <!-- Login button -->
        <a class="login-button me-3" routerLink="/connexion">
          <img class="icon" src="https://img.icons8.com/ios-filled/20/ffffff/user.png" alt="icon"> Se connecter
        </a>

        <!-- Register button -->
        <a class="btn-inscrire me-3" routerLink="/inscription">
          <img src="https://img.icons8.com/ios-filled/20/ffffff/add-user-male.png" alt="register-icon"> S'inscrire
        </a>

        <!-- Cart icon -->
        <a class="nav-link active" routerLink="panier">
          <img src="https://img.icons8.com/?size=30&id=40LTSjteI583&format=png&color=000000" alt="Panier">
        </a>
      </div>
    </div>
  </div>
</nav>
