/* Root color variables */
:root {
  --primary-color: #0C5E95; /* Primary color for main elements */
  --secondary-color: #86A5AD; /* Secondary color for accents */
  --tertiary-color: #FF0509; /* Tertiary color for warnings or highlights */
}

/* Align center and space between items */
.navbar-nav {
  display: flex;
  justify-content: center;
  gap: 40px; /* Add space between the nav links */
  font-weight: bold;
}

/* Style for the nav links */
.navbar-nav .nav-link {
  color: var(--primary-color); /* Use primary color for links */
  font-size: 18px;
  text-transform: uppercase;
  transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
  color: var(--primary-color); /* Slight color change on hover */
  border-bottom: solid 2px var(--primary-color);
}

/* Adjust spacing for the buttons and cart */
.d-flex {
  gap: 20px;
}

/* Button styling */
.login-button, .btn-inscrire {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: 2px solid var(--primary-color);
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease;
}

.login-button .icon, .btn-inscrire img {
  margin-right: 10px;
}

.login-button:hover, .btn-inscrire:hover {
  background-color: white;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
}

.login-button:hover .icon {
  content: url('https://img.icons8.com/ios-filled/50/0C5E95/user.png');
}

.btn-inscrire:hover img {
  content: url('https://img.icons8.com/ios-filled/50/0C5E95/add-user-male.png');
}

/* Cart icon hover */
.nav-link img:hover {
  filter: brightness(0.8); /* Slight darkening effect */
}
