<section class="commentcamarche py-5 mb-5">
  <div class="container">
    <div class="row mb-4">
      <h2 class="title-with-bar">Comment ça marche ?</h2>
    </div>
    
    <!-- On utilise row justify-content-center pour centrer les cartes sur les petits écrans -->
    <div class="row justify-content-center">
      <div class="col-lg-3 col-md-12 col-sm-12 mb-4 d-flex justify-content-center">
        <div class="card shadow h-100 d-flex flex-column justify-content-center align-items-center p-4">
          <img width="50" height="50" src="https://img.icons8.com/?size=50&id=59040&format=png&color=0C5E95" alt="icone inscription" loading="lazy"/>
          <h4 class="mt-3">Inscrivez-vous</h4>
          <a routerLink="inscription" class="btn btn-secondary mt-3">Inscription</a>
        </div>
      </div>
      <div class="col-lg-3 col-md-12 col-sm-12 mb-4 d-flex justify-content-center">
        <div class="card shadow h-100 d-flex flex-column justify-content-center align-items-center p-4">
          <img width="50" height="50" src="https://img.icons8.com/?size=100&id=26211&format=png&color=0C5E95" alt="icone connexion" loading="lazy"/>
          <h4 class="mt-3">Connectez-vous</h4>
          <a routerLink="connexion" class="btn btn-secondary mt-3">Connexion</a>
        </div>
      </div>
      <div class="col-lg-3 col-md-12 col-sm-12 mb-4 d-flex justify-content-center">
        <div class="card shadow h-100 d-flex flex-column justify-content-center align-items-center p-4">
          <img width="50" height="50" src="https://img.icons8.com/?size=50&id=47820&format=png&color=0C5E95" alt="icone service" loading="lazy" />
          <h4 class="mt-3">Passez commande</h4>
          <a routerLink="service" class="btn btn-secondary mt-3">Commander</a>
        </div>
      </div>
      <div class="col-lg-3 col-md-12 col-sm-12 mb-4 d-flex justify-content-center">
        <div class="card shadow h-100 d-flex flex-column justify-content-center align-items-center p-4">
          <img width="50" height="50" src="https://img.icons8.com/?size=50&id=215&format=png&color=0C5E95" alt="icone paiement" loading="lazy"/>
          <h4 class="mt-3">Effectuez le paiement</h4>
          <a routerLink="panier" class="btn btn-secondary mt-3">Paiement</a>
        </div>
      </div>
    </div>
  </div>
</section>
