<section class="commentcamarche">
  <div class="container mt-5">
    <div class="row mt-5 mb-5 justify-content-center">
      <h1 class="text-center mb-5">Comment ça marche?</h1>
      <div class="d-flex flex-wrap justify-content-center gap-3">
        <div class="col-md-3 mb-3 shadow">
          <div class="card-body">
            <img width="50" height="50" src="https://img.icons8.com/ios/50/inscription.png" alt="icone qui indique qu'on peux cliquez ici pour s'incrire"  loading="lazy"/>
            <h4>Je m'inscris</h4>
            <p class="card-text">inscription</p>
            <a routerLink="inscription" class="btn btn-secondary mb-2">Accéder à l'inscription</a>
          </div>
        </div>
        <div class="col-md-3 mb-3 shadow">
          <div class="card-body">
            <img width="50" height="50" src="https://img.icons8.com/ios-filled/50/login-rounded-right.png" alt="icone qui indique qu'on peux cliquez ici pour accéder à la connexion"  loading="lazy"/>
            <h4>Je me connecte</h4>
            <p class="card-text">connexion</p>
            <a routerLink="connexion" class="btn btn-secondary">Me connecter</a>
          </div>
        </div>
        <div class="col-md-3 mb-3 shadow">
          <div class="card-body">
            <img width="50" height="50" src="https://img.icons8.com/ios/50/nui2.png" alt="icone qui indique qu'on peux cliquez ici pour selectionner un service" loading="lazy" />
            <h4>Je sélectionne le service</h4>
            <p class="card-text">passage de commande</p>
            <a routerLink="service" class="btn btn-secondary">Accéder aux services</a>
          </div>
        </div>
        <div class="col-md-3 mb-3 shadow">
          <div class="card-body">
            <img width="50" height="50" src="https://img.icons8.com/pastel-glyph/64/card-in-use--v4.png" alt="icone qui indique qu'on peux cliquez ici pour commander" loading="lazy"/>
            <h4>Je passe commande</h4>
            <p class="card-text">payer</p>
            <a routerLink="panier" class="btn btn-secondary">Commander</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>