<section class="section2 imageslider">
  <div class="container-fluid">
    <div class="row align-items-center">

      <div class="col-lg-6 mb-4 mb-lg-0">
        <div class="mt-4">
          <h2 class="laundry"><span>Découvrez notre service de pressing</span></h2>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="mb-4">
          <img src="/images/image1.png" alt="Image de pressing" class="img-fluid">
        </div>
      </div>

    </div>
  </div>
</section>

<div id="background-wrap">
  <div class="bubble x1"></div>
  <div class="bubble x2"></div>
  <div class="bubble x3"></div>
  <div class="bubble x4"></div>
  <div class="bubble x5"></div>
  <div class="bubble x6"></div>
  <div class="bubble x7"></div>
  <div class="bubble x8"></div>
  <div class="bubble x9"></div>
  <div class="bubble x10"></div>
</div>



<app-commentcamarche></app-commentcamarche>
<app-team></app-team>