html, body {
  height: 100%;
  margin: 0;
}

.contact {
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: center; 
}

.container {
  max-width: 100%;
}

.contact-form {
  padding: 40px;
  background: var(--secondary-color);
  color: white;
  font-weight: bold;
  filter: opacity(100%);
  border-radius: 20px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

h4 {
  font-size: 1.8rem;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

h2 {
  font-weight: bold;
}

.form-label {
  color: white;
}

.accordeon {
  margin-top: 50px;
  margin-bottom: 100px;
  
}

.accordion-button {
  background-color: var(--secondary-color); 
  color: white;
  font-weight: bold; 
}

.button {
  background: var(--primary-color);
  font-weight: bold;
  color: #fff;
  border: 2px solid var(--primary-color);
  padding: 10px 20px;
  margin-top: 15px;
  border-radius: 5px;
}

.button:hover {
  background: #fff;
  color: var(--primary-color);
  border-color: var(--primary-color);
  transform: scale(1.05);
  box-shadow: 0 8px 15px rgba(0, 151, 178, 0.3);
}

/* Bubbles Animation */
@keyframes animateBubble {
  0% {
    margin-top: 1000px;
  }
  100% {
    margin-top: -100%;
  }
}

@keyframes sideWays {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 50px;
  }
}

.bubble {
  border-radius: 50%;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
  height: 200px;
  position: absolute;
  width: 200px;
}

.bubbles {
  position: absolute;
  bottom: 0;
  height: 100%;
  left: 0;
  overflow: hidden;
  width: 100%;
}

/* Specific bubble animations */
.x1 {
  animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
  left: -5%;
  top: 5%;
  transform: scale(0.6);
}

.x2 {
  animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
  left: 5%;
  top: 80%;
  transform: scale(0.4);
}

.x3 {
  animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
  left: 10%;
  top: 40%;
  transform: scale(0.7);
}

.x4 {
  animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
  left: 20%;
  top: 0;
  transform: scale(0.3);
}

.x5 {
  animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
  left: 30%;
  top: 50%;
  transform: scale(0.5);
}

.x6 {
  animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
  left: 50%;
  top: 0;
  transform: scale(0.8);
}

.x7 {
  animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
  left: 65%;
  top: 70%;
  transform: scale(0.4);
}

.x8 {
  animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
  left: 80%;
  top: 10%;
  transform: scale(0.3);
}

.x9 {
  animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
  left: 90%;
  top: 50%;
  transform: scale(0.6);
}

.x10 {
  animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
  left: 80%;
  top: 80%;
  transform: scale(0.3);
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

input, select {
  width: 100%;
  height: 60px;
  padding: 8px;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  font-size: 1rem;
}


textarea{
  width: 100%;
  height: 60px;
  padding: 8px;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  font-size: 1rem;
  height: 200px;
}


input:focus, textarea:focus, select:focus {
  outline: none;
  border-color: var(--texte);
}

label {
  font-size: 0.875rem;
  margin-bottom: 8px;
}