h1, h2, h5{
  color:#007A99;
  font-weight: bold;
}


p {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}  

.border-titlecard{
  border-bottom: 3px solid #002f87;
  margin-top: 5px;
  
}

.couleurtop {
  padding: 20px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.accordion-button {
  background-color: #f8f9fa;
  color: #333;
  font-weight: bold;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-body {
  background-color: #ffffff;
  padding: 20px;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #004085;
}

.button{
  background:#002f87;
  color: white;
  margin-left: 5px;
  margin-right: 5px;
}

.card-service {
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card{
border: none;
}

.card-service:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
}

.card-service img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.card-text {
  font-size: 1rem;
  color: #6c757d;
}

.btn {
  padding: 10px;

}

