<section class="couleurtop">
  <div class="container">
    <div class="row">
      <h5>Mes Services</h5>

      <!-- Affichage des services disponibles -->
      <div class="col-lg-6" *ngFor="let service of services">
        <div class="mb-4">
          <h2>{{ service.service_type }}</h2>
          <p>{{ service.description }}</p>
          <img [src]="service.images" width="400px" alt="Image de {{ service.service_type }}"><br>
          <button (click)="selectService(service)" class="btn btn-primary mt-3">Sélectionner ce service</button>
        </div>
      </div>
    </div>

    <!-- Affichage des services sélectionnés -->
    <div class="row mt-5" *ngIf="selectedServices.length > 0">
      <div class="col-lg-12">
        <h2>Votre Commande</h2>
        <div class="accordion" id="selectedServiceAccordion">
          <div class="accordion-item" *ngFor="let service of selectedServices; let i = index">
            <h2 class="accordion-header">
              <button class="accordion-button" type="button" (click)="toggleAccordion(i)">
                Votre Service Sélectionné : {{ service.service_type }}
              </button>
            </h2>
            <div [ngClass]="{'show': activeAccordionIndex === i}" class="accordion-collapse collapse">
              <div class="accordion-body">
                <p>Prix Unitaire : {{ service.service_price }} €</p>

                <!-- Affichage des produits associés -->
                <div *ngIf="productsMap[service.id] && productsMap[service.id].length > 0">
                  <h4>Produits associés :</h4>
                  <ul>
                    <li *ngFor="let product of productsMap[service.id]">
                      {{ product.product_name }} - {{ product.price }} €
                      <!-- Trouver l'item correspondant au produit -->
                      <div *ngFor="let item of items">
                        <ng-container *ngIf="item.product.id === product.id">
                          <button (click)="increaseItemQuantity(item)">+</button>
                          <button (click)="decreaseItemQuantity(item)">-</button>
                          <span>Quantité : {{ item.quantite }}</span>
                        </ng-container>
                      </div>
                    </li>
                  </ul>
                </div>
                <div *ngIf="!productsMap[service.id] || productsMap[service.id].length === 0">
                  <p>Aucun produit associé à ce service.</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Affichage du total général -->
        <div class="total mt-4">
          <h3>Total général : {{ calculateTotal() }} €</h3>
          <button class="btn btn-success" (click)="addToCart()">Ajouter au Panier</button>
        </div>
      </div>
    </div>
  </div>
</section>
