<section class="h-100">
  <div class="container h-100 py-5">
    <h3>Récapitulatif de votre commande</h3>
    <div *ngIf="items.length > 0">
      <ul class="list-group mb-3">
        <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let item of items">
          <div>
            <h5>{{ item.product.product_name }}</h5>
            <p>Prix : {{ item.price }} €</p>
          </div>
          <div class="d-flex align-items-center">
            <!-- Boutons pour modifier la quantité -->
            <button class="btn btn-outline-success btn-sm me-2" (click)="decreaseItemQuantity(item)">-</button>
            <span class="me-2">Quantité : {{ item.quantity }}</span>
            <button class="btn btn-outline-success btn-sm me-2" (click)="increaseItemQuantity(item)">+</button>
            <span class="me-2">Prix Total : {{ item.price * item.quantity }} €</span>
            <!-- Bouton supprimer -->
            <button class="btn btn-outline-danger btn-sm ms-2" (click)="removeItem(item)">Supprimer</button>
          </div>
        </li>
      </ul>
      <h4>Total général : {{ calculateTotal() }} €</h4>
      <button class="btn btn-success mt-3" (click)="validateOrder()">Valider ma commande</button>
      <button class="btn btn-danger mt-3 ms-2" (click)="clearCart()">Vider le panier</button>
    </div>
    <div *ngIf="items.length === 0">
      <p>Votre panier est vide.</p>
    </div>
  </div>
</section>
