<section class="contact">
  <div class="container">
    <div class="row align-items-center mb-4">
      <div class="col-md-12 text-center">
        <h4 class="mt-4">Nous sommes à votre écoute. Envoyez-nous vos questions ou commentaires.</h4>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6">
        <div *ngIf="showSuccessMessage" class="alert alert-success" role="alert">
          {{ message }}
        </div>
        <div *ngIf="showErrorMessage" class="alert alert-danger" role="alert">
          {{ message }}
        </div>
        
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="contact-form">
          <h2>Écrivez-nous</h2>
          
          <div class="mb-3">
            <label for="lastname" class="form-label text-white">Nom</label>
            <input type="text" formControlName="lastname" class="form-control" id="lastname" placeholder="Nom">
          </div>
          
          <div class="mb-3">
            <label for="firstname" class="form-label text-white">Prénom</label>
            <input type="text" formControlName="firstname" class="form-control" id="firstname" placeholder="Prénom">
          </div>
          
          <div class="mb-3">
            <label for="email" class="form-label text-white">E-mail</label>
            <input type="email" formControlName="email" class="form-control" id="email" placeholder="E-mail">
          </div>
          
          <div class="mb-4">
            <label for="message" class="form-label text-white">Message</label>
            <textarea formControlName="message" class="form-control" id="message" rows="4" placeholder="Votre message"></textarea>
          </div>
          
          <button type="submit" class="btn btn-primary">Envoyer</button>
        </form>
      </div>
    </div>
    
    <!-- Accordéon pour la carte -->
    <div class="row justify-content-center mt-4 mb-5">
      <div class="col-md-10">
        <div class="accordion" id="mapAccordion">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Nous Trouver
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#mapAccordion">
              <div class="accordion-body">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2785.3592350860795!2d4.867123475993494!3d45.72389007107941!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f4c201c2fca183%3A0xd41b69e7916deb85!2sAll.%20des%20Acacias%2C%2069200%20V%C3%A9nissieux!5e0!3m2!1sfr!2sfr!4v1719904404869!5m2!1sfr!2sfr" width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
