html, body {
  height: 100%;
  margin: 0;
}

.contact {
  background: lightgray;
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: center; 
}

.container {
  max-width: 100%;
}

.contact-form {
  padding: 40px;
  background: #0097B2;
  color: white;
  font-weight: bold;
  filter: opacity(100%);
  border-radius: 20px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

h4 {
  font-size: 1.8rem;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

h2 {
  font-weight: bold;
}

.form-label {
  color: white;
}

.accordeon {
  margin-top: 50px;
  margin-bottom: 100px;
  
}

.accordion-button {
  background-color: #0097B2; 
  color: white;
  font-weight: bold; 
}

.button{
background: #0097B2;
font-weight: bold;
color: #ffffff;
border: #ffffff solid 2px;
padding: 8px;
}


.button:hover {
  background: #ffffff;
  color: #0097B2;
  border-color: #0097B2;
  transform: scale(1.05); 
  box-shadow: 0 8px 15px rgba(0, 151, 178, 0.3);
}
