h2, h3, p {
    color: white;
    font-weight: bold;
    font-size: 33px;
    text-shadow: 2px 2px 4px #000000;
  }
  
  .align {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    
  }
  
  .bg {
    background: #0097B2;
    opacity: 60%;
  }
  
  .form {
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;
    background-color: #0097B2;;
    height: 500px;
  }
  
  .horaire {
    text-align: center;
    margin-top: 20px;
  }
  
  .hauteur{
    height: 100%;
  }