<section class="services">
    <div class="container">
      <h2><span>Nos Services</span></h2>
      <h3 class="mb-5"><span>Simple, Efficace, Econome.</span></h3>
      <div class="row text-center">
        <div class="col-lg-3 col-md-6 mb-4">
          <h3>Nettoyage Pro</h3>
          <p>Nous proposons un service de nettoyage à sec traditionnel de votre linge avec le plus grand soin...</p>
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
          <h3>Repassage</h3>
          <p>Nous vous propose un service de repassage de chemises et repassage au kilos. Ne perdez plus de temps et confiez-nous votre repassage !</p>
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
          <h3>Blanchisserie</h3>
          <p>Laissez prendre soin à votre place pour le lavage de vos draps, couettes et autres linges et vous serez ravis du résultat !</p>
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
          <h3>Renovation Cuir</h3>
          <p>Profiter de nos expert dans la rénovation de vos cuirs grâce à notre expérience...</p>
        </div>
        <div class="d-flex justify-content-center mt-4">
            <a routerLink="service" class="btn btn-secondary">En savoir plus</a>
          </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container-fluid ">
      <div class="row align-items-center justify-content-center mt-5 mb-5">
        <div class="col-md-3 text-center">
          <h2>En chiffres</h2>
          <p>Notre Pressing c'est aussi :</p>
        </div>

        <div class="col-md-2 text-center">
          <div class="stat-item">
            <img src="https://img.icons8.com/?size=100&id=3708&format=png&color=000000" alt="Icon 1" class="stat-icon">
            <div>20</div>
            <div class="hr"></div>
            <span>Année d'expérience</span>
          </div>

        </div>
        <div class="col-md-2 text-center">
          <div class="stat-item">
            <img src="https://img.icons8.com/?size=100&id=44453&format=png&color=000000" alt="Icon 2" class="stat-icon">
            <div>2077428</div>
            <div class="hr"></div>
            <span>kilos de linge lavés par mois</span>
          </div>
        </div>
        <div class="col-md-2 text-center">
          <div class="stat-item">
            <img src="https://img.icons8.com/?size=100&id=dpeq5kYauBgl&format=png&color=000000" alt="Icon 3" class="stat-icon">
            <div>40003</div>
            <div class="hr"></div>
            <span>clients satisfaits</span>
          </div>
        </div>
      </div>
    </div>
  </section>
  

<app-avissclients></app-avissclients>


  <section class="background">
    <div class="container">
      <div class="row text-center">
        <div class="col-lg-4 col-md-6 mb-4 mt-2">
          <img src="https://img.icons8.com/?size=50&id=42464&format=png&color=FFFFFF">
          <h3 class="text-center text-white"><span>07.67.15.90.12</span></h3>
        </div>
        <div class="col-lg-4 col-md-6 mb-4 mt-2">
          <img src="https://img.icons8.com/?size=50&id=3723&format=png&color=FFFFFF">
          <h3 class="text-center text-white"><span>Allée des acacias 69200 Vénissieux</span></h3>
        </div>
        <div class="col-lg-4 col-md-6 mb-4 mt-2">
          <img src="https://img.icons8.com/?size=50&id=19100&format=png&color=FFFFFF">
          <h3 class="text-center text-white"><span>Du lundi au Samedi de 9h00 à 19h00 Non-Stop</span></h3>
        </div>
      </div>
    </div>
  </section>



  
  
  
