<section class="imageservice">
  <div class="row no-gutters">
    <div class="col-lg-4 col-md-6">
      <div>   
        <img src="/images/image1.jpg" class="img-fluid w-100">                    
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div>
        <img src="/images/image2.jpg" class="img-fluid w-100">
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div>
        <img src="/images/repassage.jpg" class="img-fluid w-100">
      </div>
    </div>
  </div>
</section>


<section class="nosservices">
    <div class="container">
      <div class="row">
        <h2><span>Nos Services</span></h2>
        <h3 class="mb-5"><span>Simple, Efficace, Econome.</span></h3>
        <div class="row text-justify">
          <div class="col-lg-3 col-md-6 mb-4">
            <h3>Nettoyage Pro</h3>
            <p>Nous proposons un service de nettoyage à sec traditionnel de votre linge avec le plus grand soin...</p>
          </div>
          <div class="col-lg-3 col-md-6 mb-4">
            <h3>Repassage</h3>
            <p>Nous vous proposons un service de repassage de chemises et repassage au kilo. Ne perdez plus de temps et confiez-nous votre repassage !</p>
          </div>
          <div class="col-lg-3 col-md-6 mb-4">
            <h3>Blanchisserie</h3>
            <p>Laissez-nous prendre soin de votre linge de maison, draps, couettes, et autres, pour des résultats impeccables !</p>
          </div>
          <div class="col-lg-3 col-md-6 mb-4">
            <h3>Renovation Cuir</h3>
            <p>Profitez de notre expertise pour la rénovation de vos articles en cuir grâce à nos nombreuses années d'expérience.</p>
          </div>
        </div>
        <div class="d-flex justify-content-center mt-4">
          <a routerLink="service" class="btn btn-secondary">En savoir plus</a>
        </div>
      </div>
    </div>
</section>

<section class="enchiffres">
  <div class="container-fluid">
    <div class="row align-items-center justify-content-center mt-5 mb-5">
      <div class="col-md-3 text-center">
        <h2>En chiffres</h2>
        <p>Notre Pressing c'est aussi :</p>
      </div>
      <div class="col-md-2 text-center">
        <div class="stat-item">
          <img src="https://img.icons8.com/?size=100&id=3708&format=png&color=000000" alt="Icon 1" class="stat-icon">
          <div>20</div>
          <div class="hr"></div>
          <span>Années d'expérience</span>
        </div>
      </div>
      <div class="col-md-2 text-center">
        <div class="stat-item">
          <img src="https://img.icons8.com/?size=100&id=44453&format=png&color=000000" alt="Icon 2" class="stat-icon">
          <div>2077428</div>
          <div class="hr"></div>
          <span>Kilos de linge lavés par mois</span>
        </div>
      </div>
      <div class="col-md-2 text-center">
        <div class="stat-item">
          <img src="https://img.icons8.com/?size=100&id=dpeq5kYauBgl&format=png&color=000000" alt="Icon 3" class="stat-icon">
          <div>40003</div>
          <div class="hr"></div>
          <span>Clients satisfaits</span>
        </div>
      </div>
    </div>
  </div>
</section>

<app-avissclients></app-avissclients>

<section class="background">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-4 col-md-6 mb-4 mt-2">
        <img src="https://img.icons8.com/?size=50&id=42464&format=png&color=FFFFFF">
        <h3 class="text-center text-white"><span>07.67.15.90.12</span></h3>
      </div>
      <div class="col-lg-4 col-md-6 mb-4 mt-2">
        <img src="https://img.icons8.com/?size=50&id=3723&format=png&color=FFFFFF">
        <h3 class="text-center text-white"><span>Allée des acacias 69200 Vénissieux</span></h3>
      </div>
      <div class="col-lg-4 col-md-6 mb-4 mt-2">
        <img src="https://img.icons8.com/?size=50&id=19100&format=png&color=FFFFFF">
        <h3 class="text-center text-white"><span>Du lundi au Samedi de 9h00 à 19h00 Non-Stop</span></h3>
      </div>
    </div>
  </div>
</section>
