<section class="imageservice position-relative">
  <div>
    <div class="container mb-3">
      <div class="row mb-4">
        <h2 class="title-with-bar">Nos Services</h2>
        <h3 class="text-center text-lg-start">Simple, Efficace, Econome</h3>  
      </div>
    </div>
  <div class="row  p-0 container-fluid">
    <div class="col-lg-3 col-md-6 col-12 position-relative">
      <img src="/images/image1.jpg" class="img-fluid w-100" alt="image service nettoyage">                    
      <div class="service-card">
        <h3>Nettoyage</h3>
        <p>Nous proposons un service de nettoyage à sec traditionnel de votre linge avec le plus grand soin...</p>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-12 position-relative">
      <img src="/images/repassage.jpg" class="img-fluid w-100" alt="image service repassage">
      <div class="service-card">
        <h3>Repassage</h3>
        <p>Nous vous proposons un service de repassage de chemises et repassage au kilo. Ne perdez plus de temps !</p>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-12 position-relative">
      <img src="/images/couette.webp" class="img-fluid w-100" alt="image service blanchisserie">
      <div class="service-card">
        <h3>Blanchisserie</h3>
        <p>Laissez-nous prendre soin de votre linge de maison, draps, couettes, et autres, pour des résultats impeccables !</p>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-12 position-relative">
      <img src="/images/image2.jpg" class="img-fluid w-100" alt="image service renovation cuir">
      <div class="service-card">
        <h3>Rénovation Cuir</h3>
        <p>Profitez de notre expertise pour la rénovation de vos articles en cuir grâce à nos nombreuses années d'expérience.</p>
      </div>
    </div>
    <div class="col-lg-12 text-center position-relative">
      <a routerLink="apropos" class="nosservices btn">En savoir plus</a>
    </div>
  </div>
  </div>
</section>



<section class="enchiffres py-5">
  <div class="container">
    <div class="row justify-content-center mb-4">
      <h2 class="title-with-bar">Quelques chiffres</h2>
    </div>
    <div class="row justify-content-center">
      <!-- Bloc "En chiffres" centré -->
      <div class="col-lg-3 col-md-6 col-sm-12 d-flex flex-column align-items-center mb-4">
        <div class="stat-item">
          <h3>En chiffres</h3>
          <p>Notre Pressing c'est aussi :</p>
        </div>
      </div>

      <!-- Statistique 1 -->
      <div class="col-lg-3 col-md-6 col-sm-12 d-flex flex-column align-items-center text-center mb-4">
        <div class="stat-item">
          <img src="https://img.icons8.com/?size=100&id=3708&format=png&color=000000" alt="Icon 1" class="stat-icon" loading="lazy">
          <div class="stat-number">20</div>
          <div class="hr"></div>
          <span>Années d'expérience</span>
        </div>
      </div>

      <!-- Statistique 2 -->
      <div class="col-lg-3 col-md-6 col-sm-12 d-flex flex-column align-items-center text-center mb-4">
        <div class="stat-item">
          <img src="https://img.icons8.com/?size=100&id=44453&format=png&color=000000" alt="Icon 2" class="stat-icon" loading="lazy">
          <div class="stat-number">2077428</div>
          <div class="hr"></div>
          <span>Kilos de linge lavés par mois</span>
        </div>
      </div>

      <!-- Statistique 3 -->
      <div class="col-lg-3 col-md-6 col-sm-12 d-flex flex-column align-items-center text-center mb-4">
        <div class="stat-item">
          <img src="https://img.icons8.com/?size=100&id=dpeq5kYauBgl&format=png&color=000000" alt="Icon 3" class="stat-icon" loading="lazy">
          <div class="stat-number">40003</div>
          <div class="hr"></div>
          <span>Clients satisfaits</span>
        </div>
      </div>
    </div>
  </div>
</section>



<app-avissclients></app-avissclients>

