<div class="container mt-5">
    <h2 class="mb-4">Paiement</h2>
  
    <form [formGroup]="paymentForm" (ngSubmit)="validatePayment()">
      <div class="mb-3">
        <label for="cardNumber" class="form-label">Numéro de carte</label>
        <input type="text" id="cardNumber" class="form-control" formControlName="cardNumber" placeholder="1234 5678 9012 3456">
        <div *ngIf="paymentForm.get('cardNumber')?.invalid && paymentForm.get('cardNumber')?.touched" class="text-danger">
          Numéro de carte invalide.
        </div>
      </div>
  
      <div class="mb-3">
        <label for="cardHolder" class="form-label">Nom du titulaire</label>
        <input type="text" id="cardHolder" class="form-control" formControlName="cardHolder" placeholder="John Doe">
        <div *ngIf="paymentForm.get('cardHolder')?.invalid && paymentForm.get('cardHolder')?.touched" class="text-danger">
          Nom du titulaire requis.
        </div>
      </div>
  
      <div class="row mb-3">
        <div class="col-md-6">
          <label for="expirationDate" class="form-label">Date d'expiration</label>
          <input type="text" id="expirationDate" class="form-control" formControlName="expirationDate" placeholder="MM/YY">
          <div *ngIf="paymentForm.get('expirationDate')?.invalid && paymentForm.get('expirationDate')?.touched" class="text-danger">
            Date d'expiration invalide. Format requis : MM/YY.
          </div>
        </div>
  
        <div class="col-md-6">
          <label for="cvc" class="form-label">CVC</label>
          <input type="text" id="cvc" class="form-control" formControlName="cvc" placeholder="123">
          <div *ngIf="paymentForm.get('cvc')?.invalid && paymentForm.get('cvc')?.touched" class="text-danger">
            CVC invalide. Doit contenir 3 chiffres.
          </div>
        </div>
      </div>
  
      <div class="mb-3">
        <h4>Total à payer : {{ totalAmount }} €</h4>
      </div>
  
      <button type="submit" class="btn btn-success">Valider votre paiement</button>
    </form>
  
    <!-- Modal de validation du paiement -->
    <div class="modal fade" id="paymentSuccessModal" tabindex="-1" aria-labelledby="paymentSuccessModalLabel" aria-hidden="true" [ngClass]="{'show d-block': paymentSuccess}">
      <div class="modal-dialog modal-dialog-centered"> <!-- Ajout de la classe modal-dialog-centered -->
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="paymentSuccessModalLabel">Paiement réussi</h5>
            <button type="button" class="btn-close" (click)="closeModal()"></button>
          </div>
          <div class="modal-body">
            Votre paiement a été validé avec succès. Merci pour votre commande !
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="closeModal()">Fermer</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  