.bg-profil{
    background: var(--primary-color);
}

h2{
    color: var(--primary-color);
    font-weight: bold;
}

h3{
    color: white;
    font-weight: bold;
}

.btn-update{
    border-radius: 5px;
    padding: 4px;
    background: var(--secondary-color);
}

.profil{
    margin-top: 100px;
    margin-bottom: 150px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
}