<section class="hero">
  <div class="container">
  <div class="row">
    <div class="col-lg-6">
      <h1 class="title pt-2">Bienvenue chez Bubble Pressing</h1>
      <p>Une lessive écologique et efficace pour des vêtements propres et une planète plus verte.</p>
      <a href="service" class="btn btn-secondary btn-lg">Commander dès maintenant</a>
    </div>
  </div>
</div>
</section>

<div id="background-wrap">
  <div class="bubble x1"></div>
  <div class="bubble x2"></div>
  <div class="bubble x3"></div>
  <div class="bubble x4"></div>
  <div class="bubble x5"></div>
  <div class="bubble x6"></div>
  <div class="bubble x7"></div>
  <div class="bubble x8"></div>
  <div class="bubble x9"></div>
  <div class="bubble x10"></div>
</div>
