


body {
  background: #00b4ff;
  color: #333;
  font: 100% Lato, Arial, sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


.centered {
  margin: 0 auto;
  text-align: center;
  font-family: 'Shrikhand', cursive;
}

.gray {
  color: #999;
}

a {
  text-decoration: none;
}




/* Animation des bulles */
@keyframes animateBubble {
  0% {
    margin-top: 1000px;
  }
  100% {
    margin-top: -100%;
  }
}

@keyframes sideWays {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 50px;
  }
}

.x1 {
  animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
  left: -5%;
  top: 5%;
  transform: scale(0.6);
}

.x2 {
  animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
  left: 5%;
  top: 80%;
  transform: scale(0.4);
}

.x3 {
  animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
  left: 10%;
  top: 40%;
  transform: scale(0.7);
}

.x4 {
  animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
  left: 20%;
  top: 0;
  transform: scale(0.3);
}

.x5 {
  animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
  left: 30%;
  top: 50%;
  transform: scale(0.5);
}

.x6 {
  animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
  left: 50%;
  top: 0;
  transform: scale(0.8);
}

.x7 {
  animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
  left: 65%;
  top: 70%;
  transform: scale(0.4);
}

.x8 {
  animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
  left: 80%;
  top: 10%;
  transform: scale(0.3);
}

.x9 {
  animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
  left: 90%;
  top: 50%;
  transform: scale(0.6);
}

.x10 {
  animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
  left: 80%;
  top: 80%;
  transform: scale(0.3);
}

.bubble {
  border-radius: 50%;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
  height: 200px;
  position: absolute;
  width: 200px;
}


.bubbles {
  position: absolute;
  bottom: 0;
  height: 100%;
  left: 0;
  overflow: hidden;
  width: 100%;
}



.hero {
  background: linear-gradient(rgba(12, 94, 149, 0.85), rgba(12, 94, 149, 0.85)), url('/images/machine.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.hero-content {
  max-width: 800px;
  padding: 20px;
}

/* Hero title */
.title {
  color: white;
  font-size: 3.5rem;
  margin-bottom: 20px;
  font-weight: bold;
}

/* Hero paragraph */
p {
  font-size: 1.4rem;
  margin-bottom: 20px;
  color:white;
}

/* Button style */
.btn-secondary {
  background-color: var(--button-bg-color); 
  border-color: var(--button-bg-color);
  padding: 15px 30px;
  border-radius: 8px;
  font-size: 1.1rem;
}

.btn-secondary:hover {
  background-color: var(--button-hover-bg-color);
  border-color: var(--button-hover-bg-color);
  color: white;
}
