
 :root{
    --primary-color:#0C5E95;
    --secondary-color:#86A5AD;
    --tertiary-color:#FF0509;
    --bg-button:#3CA0D8;

 } 

 h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif; 
    color: var(--primary-color);
    font-weight: bold;
}

.title-with-bar {
    font-weight: bold;
    color: var(--primary-color);
    position: relative;
  }
  
  .title-with-bar::before {
    content: "";
    display: inline-block;
    width: 5px;
    height: 100%;
    background-color: var(--secondary-color);
    margin-right: 10px;
  }

html {
    font-family: 'Roboto', sans-serif; 
    font-size: 16px; 
    scroll-behavior: smooth;
    overflow-x: hidden; 
}


@media (min-width: 768px) and (max-width: 1024px) {
    .title-with-bar {
      text-align: center;
    }
  }
  
  @media (max-width: 767px) {
    .title-with-bar {
      text-align: center;
    }
  }


.login-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: #1b6aa0;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid #1b6aa0;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
}

.login-button .icon {
    margin-right: 10px;
}


.login-button:hover {
    background-color: white;
    color: #1b6aa0;
    border: 2px solid #1b6aa0;
}

.login-button:hover .icon {
    background: url('https://img.icons8.com/ios-filled/50/0C5E95/user.png');
    margin-right: 30px;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  }

  body,p {
    color: var(--texte);
    line-height: 1.6;
  }
  
  section {
    padding: 50px 0px;
  }