h2, h3{
    text-align: center;
    font-weight: bold;
    color:#0097B2;

}

p{
    text-align: justify;
    color: #002f87;
    text-align: justify;
}

.border{
  padding: 20px;
}

.avisclients{
  margin-top: 150px;
  margin-bottom: 150px;
}